<!-- Major toolbar -->
<div class="main-layout__col  main-layout__col--1">
    
    <!-- Top toolbar -->
    <div class="main-layout__col-item-toolbar">
        <a class="button1" href="#/add">
            add feed
        </a>
        <div class="dropdown">
            <a class="button1">more</a>
            <div class="dropdown__menu">
                <a href="#/organize">organize</a>
                <a href="#/tags">tags</a>
                <a href="#/importExport">import/export</a>
            </div>
        </div>
        <div class="main-layout__gap"></div>
        <div class="button1" ng-click="refresh()">
            refresh
        </div>
    </div>
    
    <!-- Feeds tree -->
    <div class="main-layout__col-item  scroll">
        <feeds-tree-item item="all"></feeds-tree-item>
        <feeds-tree-item ng-repeat="item in feedsTree" item="item"></feeds-tree-item>
    </div>
    
    <!-- Bottom toolbar -->
    <div class="main-layout__col-item-toolbar">
        <a class="button1  local-anchor" href="#/about">
            <img src="visual/images/about.svg" />
        </a>
        <a class="button1  local-anchor" href="#/settings">
            <img src="visual/images/settings.svg" />
        </a>
        <a class="button1  local-anchor" href="#/help">
            <img src="visual/images/controls.svg" />
        </a>
        <div class="main-layout__gap"></div>
        <a class="button1  new-version-button  local-anchor" href="#/about" ng-show="newVersionAvailable != null">
            New version!
        </a>
    </div>
</div>

<!-- Articles -->
<div class="main-layout__col  main-layout__col--2">
    
    <!-- Top bar -->
    <div class="main-layout__col-item-toolbar">
        <h1 class="articles-sheet__category">
            <span ng-hide="selectedCategory.type == 'feed' && selectedCategory.siteUrl">
                {{selectedCategory.title}}
            </span>
            <a ng-show="selectedCategory.type == 'feed' && selectedCategory.siteUrl" ng-href="{{selectedCategory.siteUrl}}">
                {{selectedCategory.title}}
            </a>
        </h1>
        <div class="articles-sheet__actions">
            <a class="button2"
               ng-click="markAllAsRead()"
               ng-class="{'button2--inactive': selectedCategory.unreadArticlesCount == 0}">
                <svg class="button2__icon"
                    width="128px" height="128px" viewBox="0 0 128 128">
                    <path class="button2__icon-obj" d="m 53.137425,98.563519 c -1.31855,1.31855 -3.471404,1.31855 -4.797247,0 l -1.064758,-1.066217 0,0 -1.136229,-1.13477 -4.992695,-4.999988 c -0.02188,-0.02188 -0.01459,-0.04813 -0.02917,-0.06272 L 18.227937,68.241244 c -1.325843,-1.317092 -1.325843,-3.471404 0,-4.795789 l 7.195141,-7.202433 c 1.333136,-1.324385 3.478697,-1.324385 4.810374,0 L 50.765785,76.937256 93.948299,33.756201 c 1.317092,-1.325843 3.471404,-1.325843 4.797247,0 l 7.195144,7.202433 c 1.33167,1.325843 1.33167,3.471404 0,4.803082 z"/>
                </svg>
                mark as read
            </a>
        </div>
        <div class="main-layout__gap"></div>
        <div ng-show="allTags.length > 0" class="articles-sheet__tag-filter">
            Filter by tag:
            <select ng-model="selectedTag"
                ng-change="onTagSelected()"
                ng-options="t.name for t in allTags">
                <option value="">none</option>
            </select>
        </div>
    </div>
    
    <!-- Articles list -->
    <div ng-if="state == 'articles'" class="main-layout__col-item  scroll  js-articles-list">
        <articles-list></articles-list>
    </div>
    
    <!-- Refreshing progress screen -->
    <div ng-if="state == 'refreshing'" class="main-layout__col-item">
        <div class="refreshing__label">Checking what's new...</div>
        <progress class="refreshing__progress" value="{{downloadProgressRatio}}"></progress>
    </div>
    
    <!-- Welcome screen -->
    <div ng-if="state == 'noFeeds'" class="main-layout__col-item">
        <h1>Welcome to Sputnik!</h1>
        <p>(TODO - welcome stuff)</p>
    </div>
    
</div>

<!-- Minor toolbar on right -->
<div class="main-layout__col  main-layout__col--3">
    <a class="button2" ng-click="scrollTo('prev')">prev</a>
    <a class="button2" ng-click="scrollTo('next')">next</a>
</div>

<pick-tag-menu ng-if="showPickTagMenuData"></pick-tag-menu>